﻿@{
    ViewBag.Title = "Search";
}



<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/redmond/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="../Content/jquery.ptTimeSelect.css" />
<script type="text/javascript" src="../Content/jquery.ptTimeSelect.js"></script>

<h2>Search</h2>

	<div id="body" class="rentals">
  	
		<h2>TÌM KIẾM</h2>
		
     <a  class="current"></a>
   	 <div id="sliderFrame">
        <div id="ribbon"></div>
        <div id="slider">
           
            <a class="lazyImage" href="../Content/Slider/images/image-slider-2.jpg"</a>                      
            <a class="lazyImage" href="../Content/Slider/images/image-slider-4.jpg"></a>
            <a class="lazyImage" href="../Content/Slider/images/image-slider-3.jpg"></a>
            <a class="lazyImage" href="../Content/Slider/images/image-slider-1.jpg"></a>
            @*<a class="lazyImage" href="Slider/images/image-slider-2.jpg"></a>*@
            
        </div>
                
        <!--thumbnails-->
        <div id="thumbs">
            <div class="thumb"><img src="../Content/Slider/images/thumb1.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb2.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb3.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb4.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb5.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb1.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb2.jpg" /></div>
            <div class="thumb"><img src="../Content/Slider/images/thumb3.jpg" /></div>
        </div>
    </div>
  	<br><br><br>

        <form id="saveContactForm" method="get">
        	<div align="center">
    	<label><h4 style="color:#FFFFFF"> Rạp chiếu phim: </h4></label>
        <input class="inputfield" name="CinermaName" type="text" placeholder="Vui lòng điền tên rạp chiếu phim">
        <input type="checkbox" Name="CinermaCheck" checked="true">
    	<br>
     </div>
	<div align="center">
        <label><h4 style="color:#FFFFFF"> Tên phim: </h4></label>
        <input class="inputfield" name="FilmName" type="text" placeholder="Vui lòng điền tên phim">
        <input type="checkbox" Name="FilmCheck" checked="true">
    	<br>
     </div>

	<div align="center"> <h4 style="color:#FFFFFF">Ngày chiếu: <input type="text" name="Date" id="datepicker"></h4></div>
    
   
    <div id="sample2" align="center">
       
             <h4 style="color:#FFFFFF">Giờ chiếu: <input name="s2Time2" value="" /> </h4> </div>

        <div align="center">
        <input  type="button"  id="Search" name="search" value="Tìm kiếm">

        </div>
        </form>
        <script type="text/javascript">
            $('#Search').click(function ()
            {
                $.get("@Url.Content("~/api/search")",
                      $("#saveContactForm").serialize(),
                      function (FilmInfoJsonPayload) {
                          $(FilmInfoJsonPayload).each(function (i, item) {
                              $('#result').append('<tr style="height:30px"> <td>' + item.Name + '</td> <td>' + item.Name + '</td> </tr>');
                          });
                      },
                      "json"
                );
            });
        </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // find the input fields and apply the time select to them.
            $('#sample2 input').ptTimeSelect({

            }); //end ptTimeSelect()
        }); // end ready()
    </script>
    
    <div>
	<label><h4 style="color:#FFFFFF">Kết quả:</h4></label>
	<br>
	<table id="result" border="2" style="color:#FFFFFF; width:956px">
		<tr style="height:auto">
		<td align="center">Tên rạp</td>
		<td align="center"> Tên phim</td>
		<td align="center">Ngày chiếu</td>
		<td align="center">Giờ chiếu</td>		
		</tr>
		<tr style="height:30px">
		<td align="center"></td>
		<td align="center"></td>
		<td align="center"></td>
		<td align="center"></td>		
		</tr>
	</table>
	<br>
	</div>

    </div>

<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="ticket-info.html">Ticket Info</a>
					</li>
					<li>
						<a href="#">Location</a>
					</li>
					<li>
						<a href="movies.html">Now Showing</a>
					</li>
					<li>
						<a href="rentals.html">Rentals</a>
					</li>
					<li>
						<a href="about.html">Contact</a>
					</li>
					<li>
						<a href="movies.html">Comming Soon</a>
					</li>
					<li>
						<a href="about.html">The Company</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							Sed id mattis tellus. Proin egestas velit vel neque placerat sed interdum neque porta.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Praesent at urna ac urna congue convallis.
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Praesent at urna ac urna congue convallis. Maecenas sed placerat turpis. Duis in dolor ut nibh molestie faucibus.
				</p>
				<form action="index.html">
					<input type="text" onClick="this.value='';" onFocus="this.select()" onBlur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="submit" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Cinema Theatre
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
		</div>
	</div>
